.blok{
    position: relative;
    width: 230px;
    height: 230px;
    float: left;
    margin: 10px 10px;
}
.menu_blok{
   
}
.menu_blok img{
   
}

.name_menu a:hover{
   text-decoration: none;
}
.name_menu a:active{
   text-decoration: none;
}
.name_menu{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.name_menu span{
    display: block;
    padding: 10px;
    background: black none repeat scroll 0 0;
    font-size: 15px;
    color: white;
    opacity: 0.8;
}

