.option_clients_name:hover{
    background-color: silver;
}

.orders_phone{
    flex-wrap: nowrap;
}

.select_phone{
    position: relative;
    top:-8px;
    bottom: 0px;
    right:0px; 
    width: 362px;
    z-index: 1;
}
.select_clients_name{
    position: relative;
    width: 469px;
    z-index: 1;
}

.select_brand_name{
    position: relative;
    width: 184px;
    z-index: 1;
    left: 3px;
    top: -8px;
}