* {
  margin: 0;
  padding: 0;
}
.footer {
    position: fixed;
    /*padding-left: 85px;*/
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #fefefe;
    z-index: 0;
    min-width: 300px;
}
.right_text_brend{
    text-align: right;
    margin-right: 100px;
    margin-top: 20px;
}
.img_header{
    height: 240px;
    width: auto;
}
#main {
    padding-top:35px;
    padding-bottom:70px;
    min-width: 300px;
}
.inner_content_block {
    padding-top:35px;
    padding-bottom:70px;
    min-width: 300px;
}
.navbar {
  border-radius: 0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.affix {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.container {
  min-width: 300px; 
}
/* стили для появляющегося меню */
.affix.navbar {
  background-color: #333;
  min-width: 300px;
}
.affix.navbar .nav-item>a, 
.affix.navbar .navbar-brand {
    color: #fff;
}
/* сворачивающийся navbar */
@media(max-width:34em) {
    .navbar .navbar-nav>.nav-item {
        float: none;
        margin-left: .1rem;
    }
    .navbar .navbar-nav {
        float:none !important;
    }
    .navbar .collapse.in, .navbar .collapsing  {
        clear:both;
    }
}
.letter_red { 
    color: red; /* Красный цвет символов */ 
    /*font-size: 200%; /* Размер шрифта в процентах */ 
    /*font-family: serif; /* Шрифт с засечками */ 
    position: relative; /* Относительное позиционирование */ 
    bottom: 5px; /* Сдвиг сверху */ 
    cursor: pointer;
}
.letter_info { 
     color: cornflowerblue; /* Синий цвет символов */ 
     /*font-size: 200%; /* Размер шрифта в процентах */ 
     /*font-family: serif; /* Шрифт с засечками */ 
     position: relative; /* Относительное позиционирование */ 
     bottom: 5px; /* Сдвиг сверху */ 
     cursor: pointer;
}
.card-body {
background-color: black; 
color:#fff;
}
/*убрать обводку ссылок браузером*/
a:active, a:focus {
    outline: none; 
}
hr{
    border: none; /* Убираем границу для браузера Firefox */
    color: red; /* Цвет линии для остальных браузеров */
    background-color: red; /* Цвет линии для браузера Firefox и Opera */
    height: 2px; /* Толщина линии */    
}
/*обводка кнопок на карточках при наведении*/
.border:hover
{
        box-shadow: inset 0 0 0 5px #333;
        transition: all 0.2s ease-out;
}
.linkblock {
    cursor:pointer
}
#canvas{
  border: solid 1px blue;  
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
}
.list-counter-circle {
  list-style: none;
  counter-reset: list;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.list-counter-circle>li {
  position: relative;
  display: block;
  height: 2rem;
  line-height: 2rem;
  margin-left: 1.75rem;
  margin-bottom: .25rem;
  padding-left: 1rem;
  padding-right: .5rem;
  color: #fff;
  background: black;
  white-space: nowrap;
}
.list-counter-circle>li:last-child {
  margin-bottom: 0;
}
.list-counter-circle>li::before {
  content: counter(list);
  counter-increment: list;
  position: absolute;
  left: -2rem;
  top: -.25rem;
  bottom: -.25rem;
  width: 2.5rem;
  line-height: 2rem;
  border-radius: 1.25rem;
  border: .25rem solid #fff;
  text-align: center;
  color: #fff;
  background: black;
}